 <header class="jumbotron">
    <div class="titlefont">
      <p class="font-a">
        <div class="title">
        <h1 class="font_test"> 今日は何食べた？</h1> </p>
        </div>
        <% if current_user %> 
        <div class="text-white-75">こんにちは、 <%= current_user.nickname %>   さん
        <%end%>
          <p class="text-white-75  font-weight-light mb-5">今日のレシピをシェアしよう</p>
          <%= link_to '投稿する', new_tweet_path, class:"buttonb" %>
    </div>

 </header>  