
  <%= render partial: "hedaer",locals:{ tweet: @tweet}%>
   
  <div class="font-a" >
   <div class="titlefont">
      <h2>投稿内容編集</h2>
   </div>
  </div>
<br>
<br>
  <%= render partial: "form",locals:{ tweet: @tweet}%>