   <%= render partial: "hedaer",locals:{ tweet: @tweet}%>



 <% @tweets.each do |tweet| %>
 <div class="grid">
    <%= image_tag tweet.image, class: "buy-item-img" if tweet.image.attached? %> 
    <%= tweet.title%>
    </div>
    <% end %>

