.font_test {
  font-size: 40px;    /* 文字サイズ指定 */
  color: #ee9052ea;     /* 文字色指定 */
}
.title{
  padding: 30px;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.jumbotron { background:url(bg-mastheada.jpg);
  height: 350px;
  background-size:cover;
}

.dezin{
  color: #000;
  text-decoration: none;
  flex-direction: column;
  margin: 10px 10px 30px 10px; 
  list-style: none;
}

.dezina{
  display: inline-block;
  display: flex;
  color: #000;
  text-decoration: none;
  flex-direction: column;
  margin: 0px 0px 0px 90%;
}

.devic{
  display: inline-block;   
  margin: 0px 10px 0px 60vw;
}
.titlefont{
  text-align: center;
}
.texts-warning {
  color:black !important;
}
.yoko-styl{
  display: flex;
}
.sukima{
  margin: 5px 10px 0px 10px;
}

.google-btn {
  height: 30px;
}

.font-a{
font-family: 'Kiwi Maru', serif;
}

  .buttona {
    text-decoration: none;
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ff7f00;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #ff7f00;    /* 枠の指定 */
  }
  .buttona:hover {
    color         : #ff7f00;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .buttonb {
    text-decoration: none;
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 15px 20px;   /* 余白       */
    background    : #ff7f00;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .5s;         /* なめらか変化 */
    border        : 2px solid #ff7f00;    /* 枠の指定 */
  }
  .buttonb:hover {
    color         : #ff7f00;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .image_form{
    display: none;
  }

  .buy-item-img {
    margin: 20px auto;
    margin-right: 20px;
    height: 175px;
    width: 300px;
    object-fit: contain;
  }

  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6%;
    margin-bottom: 50px;
  }
  .main {
    margin: 8vh;
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    /* padding: 10px; */
  }
  .titl-font{
  size: 8px;
  }

  .font-cloer{
    color: rgb(180, 93, 22);
  }

  footer{
    margin: 20px;
    width: 100vw;
    height: 40px;
    background-color: #da8506;
    color: #fff;
    text-align: center;
    bottom: 0; 
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.card {
  margin: 25px auto;
  width: 300px;
  background: rgb(238, 229, 211);
  border-radius: 5px;
}

.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}