header{
  padding-top: 3% 3%;
}

.font_test {
  font-size: 40px;    /* 文字サイズ指定 */
  color: #ee9052ea;     /* 文字色指定 */
  text-align: center;
  text-decoration: none;
}
.title{
  padding: 30px;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

.jumbotron { background:url(bg-mastheada.jpg);
  height: 350px;
  background-size:cover;
}

.backbround{
  background:url(bg-mastheada.jpg);
  height: 200px;
  background-size:cover;
}
.dezin{
  color: rgb(255, 255, 255);
  text-decoration: none;
  flex-direction: column;
  margin: 10px 10px 30px 10px; 
  list-style: none;
}
.dezin-a{
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
  flex-direction: column;
  margin: 10px 10px 10px 0px; 
  list-style: none;
}

.content{
  text-align: center;
}
.img-a{
  width: 25px;
  height: 25px;
}

.devic{
  display: inline-block;   
  margin: 0px 10px 0px 90vw;
}
.titlefont{
  text-align: center;
}
.texts-warning {
  color:black !important;
}
.yoko-styl{
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 10px;
}
.sukima{
  margin: 5px 10px 0px 10px;
}

.google-btn {
  height: 30px;
}

.font-a{
font-family: 'Kiwi Maru', serif;
}

  .buttona {
    text-decoration: none;
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 10pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ff7f00;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    border        : 2px solid #ff7f00;    /* 枠の指定 */
  }
  .buttona:hover {
    color         : #ff7f00;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .buttonb {
    text-decoration: none;
    display       : inline-block;
    border-radius : 50%;          /* 角丸       */
    font-size     : 13pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 15px 20px;   /* 余白       */
    background    : #ff7f00;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .5s;         /* なめらか変化 */
    border        : 2px solid #ff7f00;    /* 枠の指定 */
  }
  .buttonb:hover {
    color         : #ff7f00;     /* 背景色     */
    background    : #ffffff;     /* 文字色     */
  }

  .image_form{
    display: none;
  }

  .buy-item-img {
    margin: 10px auto;
    margin-right: 20px;
    height: 175px;
    width: 300px;
    object-fit: contain;
  }
  .show-item-img {
    margin: 30px auto;
    height: 300px;
    width: 400px;
    object-fit: contain;
  }

  .grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6%;
    margin-bottom: 50px;
  }
  .main {
    margin:30px 42%;
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .index{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap:60px;
    justify-content: center;
    margin: 10px 0px 10px;
    }

  .titl-font{
  size: 8px;
  }
  .font-cloer{
    color: rgb(180, 93, 22);
  }
  .footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 60px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
  footer{
    position: absolute;
    margin: 20px;
    width: 100vw;
    height: 40px;
    color: rgb(110, 65, 62);
    text-align: center;
    bottom: 0; 
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.card {
  margin: 25px auto;
  width: 300px;
  background: rgb(240, 227, 220);
  border-radius: 30px;
}


.card-title {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  margin: 10px;
  color: #777;
  font-size: 14px;
  line-height: 1.1;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 10px;
}
.card-link a {
  text-decoration: none;
  color: rgb(119, 65, 34);
  margin: 0 10px;
}

.short{
default: "%Y/%mm/%d %H:%M:%S";
}

.top-card{
  margin: 15px;
}

.certer{
  margin-left: auto;
  margin-right: auto;
}

.retern{
  margin: auto;
  word-break: normal;
  width: 300px;
  background-color:#EEEEEE;
  padding: 15px 15px;
}

.m-lens-container img {
  max-height: 344px;
  max-width: 344px;
}